*{
    font-family: 'Franklin Gothic Medium';
}
.bg-primary-color{
    background: rgb(255, 255, 255);
}
.bg-secondary-color{
    background: rgb(227, 243, 240);
}

.bg-dark-color{
    background: rgb(0, 0, 0);
}
.primary-color{
    color: rgb(60, 71, 71);
}
.fecondary-color{background-color: #fff;
}
.secondary-color{
    background:  rgb(227, 243, 240);
}

/* NAVBAR */
#navbar {
    border-bottom: 1px solid #000000;
}
#navbar a:hover{
    color: rgb(161, 161, 161);
}
#navbar a.active{
   border-bottom: 1px solid #525151
}
.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 70px;
}
.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left:0.7em;
}
#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 99%;
}
#navbar-items .nav-item{
    margin: 0 1em;
}
/* slider */


#slider{
   margin-top: 9em;
   margin-bottom:1em;
}

#slider .carousel-caption {
    bottom: 3.5em;
}
#slider .carousel-caption h5{
    font-size: 2.5em;
    text-shadow:#000 2px 2px;
}
#slider .btn{
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
    color:rgb(255, 255, 255);
    font-size: 3em;
}
.carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: 0.9;
}
.carousel-indicators .active{
    background-color: rgb(136, 133, 133);
}
@media(min-width: 768px){
    #slider .carousel-caption {
        bottom: 15em;
    } 
    #slider .carousel-caption h5{
        font-size: 4em;
        text-shadow:rgb(0, 0, 0) 2px 3px;
    }
    #slider .btn{
        padding: 0.6 1.6em;
        font-size: 1.2em;
    }
    .carousel-indicators{
        bottom:7em;
    }
}
#mini-banners{
    margin-bottom: 4em;
}
#mini-banners .card{
    padding: 2em 0.3em;
    border-radius: 0;
    margin-bottom: 1em;
}
#mini-banners i{
    font-size: 4em;
}
#mini-banners .card-title{
    margin-bottom: 1.5em;

}
#mini-banners .btn{
    margin-top: 1.5em;
    padding: 0.6em 1.2em;
}
@media(min-width: 768px){
   #mini-banners{
       margin-top: -7em;
   }
   /* informativo */
   #featured-container{
       margin-bottom: 4em;
   }
   .title{
       font-size: 1.75em;
       margin-bottom: 0.4em;
       position:relative;
   }
   .title:before {
       width: 75px;
       border-top: 4px solid #4d4c4c ;
       content:'';
       position: absolute;
       bottom: 2em;
   }
   #featured-images{
       margin-top: 2em;
   }
   #featured-images .col-md-4{
       position: relative;
       cursor: pointer;
   }
   #featured-images .col-md-4:hover > .banner-content{
       opacity: 0.8;
   }
    
   }
   #featured-images .banner-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    opacity: 0.4;
    transition: 0.5s;
    
  
     }
     @media(min-width: 768px){
         .title{
             font-size: 2.4em;
         }

         .title:before{
             bottom: 1.5em;
         }
         #featured-images .banner-content{
             opacity:0;
         }

         @media(min-width: 768px){
            #featured-images .col-md-4:hover > .banner-content{
                opacity: 0.8;
            }
         }
         .newsletter{
             background-color: #fff;
         }
         .rodape{
            font-size: .90rem;
            color: rgb(24, 23, 23);
        }
        #info-content{
            margin-bottom: 4em;
            padding: 4em 1em;
        }
        #info-numbers{
            margin: 1.5em 0;
        }
        
        #info-banner {
            display: flex;
            align-items: center;
            margin-bottom: 2.5em;
    
        }
        #info-numbers h3{
            font-size: 3em;
        }
     }
     @media(min-width: 768px){
         #info-content{
             padding: 3.5em;
         }
         
     }
     #footer{
        padding: 3em 2em;
    }
    #footer-top{
        margin-bottom: 2em;
    }
    #footer-top,
    #footer-top i{
color: #fff
    }
    #social-icons{
        text-align: right;
    }
    #social-icons i{
        margin-right: 1em;
        font-size: 1.5em;
        cursor: pointer;
    }
    #social-icons i:hover{
        color: #929090;
    }
    #footer-details{
        margin-bottom: 3em;
    }
    #new-container,
    #contact-container,
    #links-container {
        padding: 0;
        border: 0;
        margin-bottom: 2em;
    }
    #footer-details h4{
        color: #fff;
        margin-bottom: 1.5em;
    }
    #new-container input{
        border-radius: 0;
        border: none;
    }
    #links-container li{
        margin-bottom: 0.5em;
    }
    #links-container a {
        text-decoration: none;
    }
    #links-container a:hover{
        color: #fff;
    }
    #footer-bottom{
        border-top: 1px solid #7a7a7a;
        padding-top: 2em;
    }
    #footer-bottom i{
color: #e61e10;
    }